.welcomeDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 10vh;

    .logo {
        height: 500px;
        width: 500px;
    }

    .mobileLogo {
        height: 350px;
        width: 350px;
    }

    .welcomeTxt {
        text-align: center;
    }
}